
.field-icon{
     float: right;
    margin-right: 5%;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
}
.password_generate_btn{
    float: right;
    margin-right: -35%;
    margin-top: -44px;
    position: relative;
    z-index: 2;
}